body {
  @include font();
  @include fields();
  position: relative;
  min-width: $mobile;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $font;
  background-color: $dark;
  color: $accent;
  overflow-x: hidden;

  @media (min-width: $desktop) {
    // шаблон медиа-запроса desktop-first
  }

  @media (min-resolution: $extra) {
    // шаблон для фонового изображения на экранах с повышенной плотностью пикселей
  }
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
